.screen-header__add-chat-icon {
  position: relative;
}

.screen-header__plus {
  display: flex;
  position: absolute;
  right: -10px;
  bottom: 10px;
  font-weight: bold;
}

.user-component__time {
  display: block;
  margin-bottom: 10px;
}
